.single-question img {
    height: 150px;
    width: auto;
    max-width: 100%;
}

.single-question {
    width: 50%;
    float: left;
    margin-bottom: 20px;
    cursor: pointer;
    padding: 15px 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.single-question:hover, .single-question.selectedItem {
    background: white;
}
